.login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
    height: 100%;
}

.login-form {
    height: 100%;
    float: left;
    width: 45%;
    margin: 0 auto 100px;
    padding: 2%;
    text-align: center;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    height: 20%;
    border: 0;
    margin: 0 0 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    height: 25%;
    border: 0;
    padding: 2%;
    color: #FFFFFF;
    font-size: 80%;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.login-form .message {
    margin: 15px 0 0;
    color: #989a92;
    font-size: 12px;
}

.login-form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.messages {
    height: 100%;
    float: left;
    padding: 2% 0%;
    text-align: left;
    position: relative;
    top: 5%;
    width: 45%;
}

.messages .message {
    box-sizing: border-box;
    outline: 0;
    color: red;
    font-family: "Roboto", sans-serif;
    width: 80%;
    height: 20%;
    border: 0;
    margin: 0 0 5px;
    padding: 5px;
    font-size: 14px;
}
