.main {
    margin-top: -10px;
    margin-left: 30px;
    width: 95%;
    height: auto;
    background-color: whitesmoke;
}

.adverColomnBorder {
    margin-left: 1%;
    height: 150px;
    width: 98%;
    border: solid #e4e4e4;
    background-color: white;
}

.adverColomnInfo {
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 65%;
}

.adverColomnInfoHeader {
    height: 30px;
    border-bottom: solid #e4e4e4;
}

.adverColomnInfoDesc {
    height: 120px;
}

.adverColomnInfoPrice {
    float: left;
    height: 150px;
    width: 14%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 200%;
    border-left: solid #e4e4e4;
}

.adverPhoto {
    align-content: center;
    width: 100%;
    height: 100%;
}

.adverColomnPhoto {
    float: left;
    height: 150px;
    width: 20%;
    border-right: solid #e4e4e4;
}

.adverColomnButton {
    float: left;
    border-radius: 10px;
    height: 30px;
    margin-left: 3px;
    text-align: center;
    vertical-align: middle;
}

.adverMakeMade {
    width: 75%;
    height: 30px;
    float: left;
    text-align: left;
    text-indent: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #5750f1;
}

.adverYear {
    width: 20%;
    height: 30px;
    float: left;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #5750f1;
}

.centr {
    margin-top: 30%;
}

.centr5px {
    margin-top: 5px;
}

.inputMenu {
    width: 40%;
    padding: 2px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.selMenu {
    width: 85%;
    padding: 2px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inputAd {
    width: 100%;
    padding: 2px 12px;
    box-sizing: border-box;
}

.inputAdDesc {
    width: 100%;
    height: 50%;
    padding: 2px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ad1{
    float: left;
    width: 30%;
    height: 80%;
}
.ad2{
    float: left;
    width: 50%;
    height: 80%;
}

.createAd{
    margin-left: 30%;
    margin-top: 5%;
    height: 300px;
    width: 600px;
}

.selectMenu {
    width: 86%;
    padding: 2px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container {
    width: 40%;
    max-width: 40px;
}

.container .btn {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
    margin-top: 5px;
    text-decoration: none;
    white-space: pre;
}

.container .btn:hover {
    background-color: #9c9b9a;
    color: white;
}

.container .a:hover {
    background-color: #9c9b9a;
    color: white;
}

/*ClickMe*/
.clickMe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.okno {
    width: 700px;
    height: 400px;
    opacity: 1;
    text-align: center;
    padding: 15px;
    background-color: #8CD4F5;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.clickMe:target {
    display: block;
}


.btn {
    background-color: #2dff22;
    color: black;
    font-size: 16px;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
    margin-top: 5px;
    text-decoration: none;
    white-space: pre;
}
.btn:hover {
    background-color: #8ef497;
    color: black;
}

.tdUsers{
    width: 20%;
    text-align: center;
    border: 1px solid black;

}

.tdRecords{
    width: 25%;
    text-align: center;
    border: 1px solid black;

}

.tdUsersHead{
    width: 20%;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;

}

.tdRecordsHead{
    width: 25%;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;

}

.tableStyle{
    width: 90%;
    border: 1px solid black;
}

.inputAd{
    width: 20%;
}


