.adverColomn {
    float: left;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 130px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
}
.adverColomnInfo {
    float: left;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 130px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 775px
}
.adverColomnInfoHeader {
    height: 30px;
    border-color: black;
    background-color: aqua;
}
.adverColomnInfoDesc {
    height: 120px;
}
.adverColomnInfoPrice{
    float: left;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 130px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.adverColomnPhoto {
    float: left;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 130px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.adverColomnButton {
    float: left;
    border-radius: 10px;
    background-color: rgba(99, 255, 255, 0.9);
    height: 30px;
    margin-left: 3px;
    text-align: center;
    vertical-align: middle;
}